body { font-size: .85em; font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif; color: #232323; background-color: #fff; }
header, footer, nav, section { display: block; }

#content { margin-top: 30px; }
nav { position: fixed; top: 0; left: 0; height: 26px; background-color: white; width: 100%; border-bottom: 2px solid black; }
    nav > ul { list-style-type: none; float: right; padding: 0; margin: 0; }
        nav > ul > li { float: left; padding: 3px 7px 0 0; }

table { border-spacing: 0; margin-left: auto; margin-right: auto; }
    table tr:nth-child(even) { background-color: #eeeeee; }

#loginTable tr:nth-child(even) { background-color: transparent; }
#sectionsTable { border-spacing: 5px; }

#sectionsTable { margin-left: auto; margin-right: auto; }
    #sectionsTable tr:nth-child(even) { background-color: transparent; }

.translationRow td { padding: 3px; }

textarea.translationTextBox, div.translationText { width: 400px; font-size: 0.85em; font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif; vertical-align: bottom; }
    textarea.translationTextBox.notDefaultValue, div.translationText.notDefaultValue { background-color: lightgoldenrodyellow; }
div.translationText { white-space: pre-wrap; }
textarea.translationTextBox { height: 1.3em; }
span.fileOrKey { font-family: monospace; font-size: 0.9em; }

.field-validation-error { color: #f00; }
.field-validation-valid { display: none; }
.input-validation-error { border: 1px solid #f00; background-color: #fee; }
.validation-summary-errors { font-weight: bold; color: #f00; }
.validation-summary-valid { display: none; }
